<head>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_pack_tag "beautifuldelightful" %>


	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
</head>

<body>


<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LUf00rdL17E?controls=0"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>


<div class="slideshow" style="max-width: 800px">
	  <%= image_tag "beautiful1.jpg", class: "monkeys", width: "100%" %>
		<%= image_tag "beautiful2.jpg", class: "monkeys", width: "100%"%>
		<%= image_tag "beautiful4.jpg", class: "monkeys", width: "100%"%>
		<%= image_tag "beautiful5.jpg", class: "monkeys", width: "100%"%>
		<%= image_tag "beautiful6.jpg", class: "monkeys", width: "100%"%>

</div>



</body>
