<%=javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag  'application' %>

<body class="wrapper">
<div id="letterMaps">

  <%= image_tag("housetest2.png", alt: "house", usemap: "#image-map", class: "house") %>
  <%= image_tag("tenttest.png", alt: "tent", usemap: "#image-map", class: "tent") %>
	<%= image_tag("outsidetest.png", alt: "outside", usemap: "#image-map", class: "outside") %>
	<%= image_tag("municipaltest.png", alt: "municipal", usemap: "#image-map", class: "municipal") %>

</div>

</body>
