<head>
<%=javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag  'application' %>

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
</head>

<body class="wrapper">
<div id="letterMaps">

  <%= image_tag("housetest2.png", alt: "house", usemap: "#image-map", class: "house") %>
  <%= image_tag("tenttest.png", alt: "tent", usemap: "#image-map", class: "tent") %>
	<%= image_tag("outsidetest.png", alt: "outside", usemap: "#image-map", class: "outside") %>
	<%= image_tag("municipaltest.png", alt: "municipal", usemap: "#image-map", class: "municipal") %>

</div>

</body>
